{{- $email := "" -}}
{{- if (hasKey . "email") -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}

encryption = "gpg"

[secret]
    command = "gopass"

[gpg]
    recipient = "0x48DD47A9"

[data]
    email = {{ $email | quote }}
{{- if contains "zeit.de" $email }}
    environment = "zon"
{{- else }}
    environment = "home"
{{- end }}
