if status is-interactive
    # paths
    fish_add_path -m ( brew --prefix )/bin
    fish_add_path -m ~/.local/bin

    # abbrevations
    abbr b brew
    abbr c chezmoi
    abbr cg chezmoi git
    abbr caps13 'hidutil property --set \'{"UserKeyMapping":[{"HIDKeyboardModifierMappingSrc":0x700000039,"HIDKeyboardModifierMappingDst":0x700000068}]}\''
    abbr f fzf
    abbr g git
    abbr k kubectl
    abbr m multipass
    abbr p gopass
    abbr pc gopass show -c
    abbr po gopass otp -c
    abbr pr "pipenv run"
    abbr s ssh

    # abbrevations for bluetooh convenience
    abbr keyboard 'BluetoothConnector --notify 70-f0-87-19-88-08'
    abbr trackpad 'BluetoothConnector --notify 6c-ab-31-f3-35-6d'

    # bat & fzf
    set -gx BAT_THEME zenburn
    set -gx FZF_CTRL_T_COMMAND "fd --type directory --color=always"
    set -gx FZF_DEFAULT_COMMAND "fd --type file --color=always"
    set -gx FZF_DEFAULT_OPTS "--ansi --height 70% --border --select-1"

    # fish fzf integration (uses universal vars)
    set -U FZF_COMPLETE 3
    set -U FZF_PREVIEW_DIR_CMD "gls -lF --color"
    set -U FZF_PREVIEW_FILE_CMD "bat --color always --number --wrap never"
    set -U FZF_DISABLE_KEYBINDINGS 0
    set -U FZF_LEGACY_KEYBINDINGS 1
    set -U FZF_TMUX_HEIGHT "70%"

    # misc
    set -gx LC_CTYPE en_US.UTF-8
    set -gx LESSOPEN "|lesspipe.sh %s"
    set -gx LESS_ADVANCED_PREPROCESSOR 1
    set -gx HOMEBREW_NO_INSTALL_CLEANUP please_not
    set -gx PIPENV_CACHE_DIR ( pip3 cache dir )
    set -gx SSH_AUTH_SOCK ( gpgconf --list-dirs agent-ssh-socket )

{{- if eq .environment "zon" }}{{ "\n" }}
    # zon
    set -gx FASTLY_API_KEY "{{ gopass "zon/keys/fastly" }}"
    set -gx KITCHEN_PROVIDER "virtualbox"
    set -gx KUBECONFIG "kube.config:$HOME/.kube/config"
    set -gx VAULT_ADDR "https://vault.ops.zeit.de/"
    set -gx ZEIT_WEB_CHROMIUM_BINARY "/usr/local/bin/Chromium"

    abbr zl genv --chdir ~/ZON/ git ls --recurse-submodules
    abbr zg genv --chdir ~/ZON/ git grep --recurse-submodules
    abbr tf terraform
    abbr tg terragrunt

    abbr 9d k9s --context gke_zeitonline-main_europe-west3-a_devel
    abbr 9s k9s --context gke_zeitonline-main_europe-west3-a_staging
    abbr 9p k9s --context gke_zeitonline-main_europe-west3-a_production

    alias cls="echo -ne '\e[2J\e[3J\e[1;1H'"
    alias chezzon 'chezmoi --source ~/.local/share/chezzon --config ~/.config/chezmoi/chezzon.toml'
    alias sleepwake 'pmset -g log | egrep " (Sleep|Wake)  "'

    function fish_mode_prompt -d "display today's working time"
        echo -n "["(working_time)"] "
    end
{{- end }}

    if functions -q fzf_configure_bindings
        fzf_configure_bindings --directory=\ct --git_log=\cg --git_status=\cs
    end
end
